@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#home {
    background-image: url('/static/gifs/thunder.gif');
    width: 100vw;
    height: 100vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#main {
    margin-left: 70px;
    font-family: 'Kaushan Script';
}

nav {
    overflow: auto;
}

.navbar-link, .navbar-brand {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

.navbar-link-active, .navbar-brand-active {
    text-decoration: none;
    color: #00A86B;
    font-weight: normal;
}

.navbar-link-active:hover, .navbar-brand-active:hover {
    text-decoration: none;
    color: #00A86B;
    font-weight: normal;
}

.navbar-link:hover, .navbar-brand:hover {
  color: #00A86B;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Playfair Display';
  font-size: 50px;
}

p {
  text-align: center;
  color: white;
  font-family: 'Playfair Display';
  font-size: 18px;
}

#logos {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}